.add-property {
	padding: 20px;
	color: black;
	width: 60%;
	margin: auto;
}

.add-property__title {
	padding: 40px;
	color: black;
	font-size: 60px;
}

.add-property__form {
	box-sizing: border-box;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.add-property__submit {
	margin: auto;
	padding: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.add-property__submit-btn {
	font-size: 50px;
	padding: 15px;
	margin-right: 40px;
	background-color: #fad03b;
	border: 0px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.add-property__submit-btn:active {
	color: aliceblue;
}

input,
select,
label,
textarea {
	font-family: inherit;
	font-size: 30px;
	padding: 20px;
	color: #404040;
}

input,
select {
	border: 2px solid #404040;
	background-color: white;
	border-radius: 0.25rem;
	margin-top: 20px;
	font: 1.25rem / 1.5 sans-serif;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem 0.75rem;
}

select {
	max-width: 20%;
}
