.Alert--success {
	background-color: green;
	float: right;
	padding: 20px;
	margin: auto;
	font-size: 30px;
	width: 250px;
	color: white;
	display: inline-block;
}

.Alert--error {
	visibility: hidden;
	position: relative;
	background-color: red;
	padding: 20px;
	font-size: 30px;
	width: 250px;
	color: white;
	display: inline-block;
}

@keyframes alertBox {
	0% {
		visibility: unset;
	}
	100% {
		visibility: hidden;
	}
}
