.navbar {
	background-color: #fad03b;
	height: 30vh;
	display: flex;
	padding: 40px;
	justify-content: space-between;
}

.company-logo {
	display: inline-block;
	margin: 10px;
}

.navbar-links-parent {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.navbar-links-item {
	margin: 10px;
	padding: 1em;
	list-style-type: none;
	font-size: 40px;
}

a.navbar-links-text:link {
	color: black;
	text-decoration: none;
	font-weight: 700;
}
a.navbar-links-text:visited {
	color: #404040;
	text-decoration: none;
	font-weight: 700;
}
a.navbar-links-text:active {
	color: aliceblue;
	font-weight: 700;
}
